.BlockLetter {
    width: calc(100% / 7);
    margin: 0;
    cursor: pointer;
}

.HeaderRow {
display: flex;
flex-direction: row;
justify-content: center;
padding: 1%;

}

.Header {
    position: relative;
    margin-top: 15px;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 100%;
    max-width: min(1200px, 80vw);
    background-color: var(--red);
    margin-bottom: 75px;
    
}

.links {
    width: 3vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap-reverse;
    position: absolute;
    top: 0.25vw;
    right:  calc(0.2em + 0.5vw);
    font-size: calc(1em + 0.5vw);
    height: auto;
}