


.DisplayCard{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--brown);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: var(--blue);
    color: var(--blue);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 100%;
    
  }
  
  
  .SquareGrid {
    display: inline;
    float: left;
    background-color: var(--blue);
    text-align: center; 
    margin-top: 5px; 
    width: 400px;  
    height: 400px;
  }
  .BigGrid {
    width: min(100%, 90vh);
    margin-top: 50px;
    margin-bottom: 75px;
    font-size: 1.5em;
  }
  .BigSquareGrid {
    width: 100%;
    margin-top: 30px;
    
  }
  .lockButton {
    display:inline-block;
  }

  .Slider{
    display: inline;
    font-weight: bold;
    text-align: center;
    
  }
  .gridControl{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 75px;
  }
  .sliderBox{
    height: 100%;
    width: auto;
    margin-right: auto;
    margin-left: auto;
  }
  .gridButtons {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }
  .linkIcon {

    color: var(--tan);
  }

  @media (max-width: 900px) {
    .DisplayCard {
      width: 100%;
      padding: 20px;
    }
    .SquareGrid {
      width: 80%;
      height: 80%;
    }
    .gridControl {
      height: 60vw;
      width: 20%;
      margin-right: -3vw;
    }
    .sliderBox{
      height: 70vw;
    }
  }
  @media (max-width: 600px) {
    .gridButtons {
      margin-left: 0;
    }
    .sliderBox{
      margin-right: 0;
    }
  }