


.DisplayCard{
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--brown);
    background-color: var(--blue);
    color: var(--blue);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    height: 100%;
    width: 100%;
    
  }
  .MuiSlider-markLabel {
    color: var(--yellow) !important;
  }
  .MuiSlider-markLabelActive {
    color: var(--brown) !important;
  }
  .MuiSlider-colorPrimary {
    color: var(--red) !important;
  }
  
  
  .SquareGrid {
    display: inline;
    float: left;
    background-color: var(--blue);
    text-align: center;  
    width: 400px; 
    height: 400px;
  }
  .BigGrid {
    display: inline;
    float: center;
    background-color: var(--blue);
    text-align: center;  
    width: 900px; 
  }
  .BigSquareGrid {
    width: 100%;
  }
  .lockButton {
    height: 30px;
    width: 30px;
  }


  .Slider{
    display: inline;
    font-weight: bold;
    text-align: center;
    
  }
  .gridControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 80px;
    margin-top: 10px;
  }
  .sliderBox{
    height: 330px;
    width: auto;
  }

  @media (max-width: 900px) {
    .DisplayCard {
      width: 100%;
    }
    .SquareGrid {
      width: 80%;
      height: 80%;
    }
    .gridControl {
      height: 60vw;
      width: 10vw;
      
    }
    .sliderBox{
      height: 55vw;
      width: auto;
      margin-right: -40px;
    }
    .MuiSlider-markLabel {
      display: none !important;
    }
    .MuiSlider-markLabelActive {
      display: none !important;
    }
  }
