:root {
  --blue: #71C2A9;
  --brown: #573B2A;
  --cream: #F7E5AE;
  --orange: #DE731D;
  --tan: #EC9C26;
  --red: #75280f;
}


.DisplayCard{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    border: 1px solid var(--brown);
    background-color: var(--blue);
    color: var(--blue);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    width: 420px;
    height: 100%;
    
  }
  .MuiSlider-markLabel {
    color: var(--yellow) !important;
  }
  .MuiSlider-markLabelActive {
    color: var(--brown) !important;
  }
  .MuiSlider-colorPrimary {
    color: var(--red) !important;
  }
  
  
  .SquareGrid {
    display: inline;
    float: left;
    background-color: var(--blue);
    text-align: center;  
    width: 360px; 
    height: 360px;
  }
  .lockButton {
    height: 30px;
    width: 30px;
  }


  .Slider{
    display: inline;
    float: right;
    font-weight: bold;
    text-align: center;
    left: 10px;
  }
  .gridControl{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 360px;
    width: 60px;
  }
  .sliderBox{
    height: 330px;
    width: auto;
  }

  @media (max-width: 900px) {
    .DisplayCard {
      width: 80vw;
      height: 60vw;
    }
    .SquareGrid {
      width: 60vw;
      height: 60vw;
    }
    .gridControl {
      height: 60vw;
      width: 10vw;
    }
    .sliderBox{
      height: 55vw;
      width: auto;
    }
    .MuiSlider-markLabel {
      display: none !important;
    }
    .MuiSlider-markLabelActive {
      display: none !important;
    }
    .MuiSlider-root{
      margin-right: -15px !important;
    }
  }
