:root {
    --blue: #71C2A9;
    --brown: #573B2A;
    --cream: #F7E5AE;
    --orange: #DE731D;
    --tan: #EC9C26;
    --red: #75280f;
  }
  
  
  .codeBlock{
      padding: 0.5em;
      border: 1px solid var(--blue);
      background-color: var(--brown);
      color: var(--blue);
      font-size: 0.5em;
      font-weight: bold;
      text-align: center;
      width: 360px;
      height: calc(100% + 2em);
      overflow:auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    

.codeBlock::-webkit-scrollbar {
  width: 10px;
}
.codeBlock::-webkit-scrollbar-track {
  background: var(--brown);
}
.codeBlock::-webkit-scrollbar-thumb {
  background: var(--tan)
}
.codeBlock::-webkit-scrollbar-thumb:hover {
  background: var(--orange);
}

    .codeBlockCode {
      text-align: left;
      font-size: 2em;
      overflow-x:visible !important;

    }

    .codeBlockTitle {
      display: flex;
      justify-content: space-around;
      font-size: 2.5em;
      font-weight: bold;
    }

    

  
    @media (max-width: 900px) {
      .codeBlock {
        width: calc(80vw + 2em);
        height: auto;
      }
    }
    @media (max-width: 500px) {
      .codeBlockCode {
        font-size: 1.5em;
      }
      .codeBlockTitle {
        font-size: 2em;
      }
    }
  