.App {
  text-align: center;
  background-color: var(--cream);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--blue);
  width: 100vw;
  height: 100vh;

}



:root {
  --blue: #71C2A9;
  --brown: #573B2A;
  --cream: #F7E5AE;
  --orange: #DE731D;
  --tan: #EC9C26;
}
